.mainPage {
    display: grid;
    grid-template-columns: 20% 80%;
}
.maincontainer{
    width: 100%;
}

.displayProducts{
    display:flex;
    flex-wrap: wrap;
}
.productDiv {
    flex: 25%;
    margin: 2%;
    
}
.productDiv>img:nth-child(2) {
    width: 100%;    
}
.productDiv>div{
    display: flex;
    justify-content: space-around;
}


.productDiv:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productDiv>.wlIcon{
    width: 20px;
    margin-left: 80%;
}
.sortAndStuff {
    display: flex;
    justify-content: flex-end;
}

.productDiv img{
    width: 90%;    
}
#categoryMenu>div{
    height: 200px;
    overflow-y: scroll;
}
#categoryMeny li{
    list-style-type: none;
}


/* THe Quick view features CSS */
.quickview{
    display: none;
    position: fixed;
    z-index: 1;
    left: 30%;
    top:20%;
    width: 50%;
    height: 400px;
    margin:auto;
    background-color: white;
    border: 5px solid orange;
    
}
#qvstructure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}
#quickviewRight {
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    ". . x"
    "d d d";
}
.quickviewbtns{
    grid-area: x;
    
}
.quickviewbtns>button{
    color: grey;
}
.quickviewbtns span{
    border-right: 1px solid grey;
}
.quickviewdetailes{
    grid-area: d;
    margin-top: 50px;
}
#quickviewtop {
    display: flex;
    justify-content: space-between;
}

.quickViewImg>img{
    width: 90%;
    border: 1px solid grey;
}
.quickviewdetailes>h3{
    margin-bottom: 0;
    border-bottom: 1px solid black;
}
.quickdesc>p{
    border: 1px solid grey;
    color: grey;
    padding: 20px;
    margin-top: 0;
    width: 90%;
}

#quickviewBottom{
    display: flex;
}
.quantityPriceDisc>p{
    display: inline;
    margin: 0 10px;
}
.quantityPriceDisc>p:first-child{
    display: inline;
    margin: 0 10px;
    color: grey;
}
#qty {
    height: 20px;
    width: 30px;
}


.quickviewbtns{
    display: block;
    justify-content: flex-end;
}
#addToCart{
    margin-top: 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    padding: 8px 12px;
}
