.mainPage {
    display: grid;
    grid-template-columns: 20% 80%;
}
.maincontainer{
    width: 100%;
}

.displayProducts{
    display:flex;
    flex-wrap: wrap;
}
.productDiv {
    flex: 30%;
}
.productDiv>.wlIcon{
    width: 20px;
    margin-left: 80%;
}
.sortAndStuff {
    display: flex;
    justify-content: flex-end;
}

.productDiv img{
    width: 90%;    
}
#categoryMenu>div{
    height: 200px;
    overflow-y: scroll;
}
#categoryMeny li{
    list-style-type: none;
}
